<!-- child class inheriting from parent with its own quirks-->
{% extends "base.html" %} {% block title %}Home{% endblock %}

 {% block content %}
 <h1>Leaders and great men of the the 21st century</h1>
 <a href="https://lh3.googleusercontent.com/jatQDch-R0faFymQTAAYmLKrTjvuwR2Q-UsMK1MrsWahrk36UNas1CbMgl60F4M8bkHuo7wc-qMuSyjn4FXPV3o22jDR8AbkTvll6U0HzEygGq-_hUj8XD2FwPrZt4vJnlDris3v3Q=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/jatQDch-R0faFymQTAAYmLKrTjvuwR2Q-UsMK1MrsWahrk36UNas1CbMgl60F4M8bkHuo7wc-qMuSyjn4FXPV3o22jDR8AbkTvll6U0HzEygGq-_hUj8XD2FwPrZt4vJnlDris3v3Q=w600-h315-p-k" /> </a>
 <h2>	This website was created in order to inspire the common folk to achieve real greatness. We have many examples of people to look up to from all walks of life. Before we begin I would like to point out a couple of things.</h2>
 <ol>
 	<li>I have specifically included people from very different backgrounds so that we can learn to grow from their personal genius and greatnesss, not their outlook on life or the specific impact they made, but their ability to push themeselves and grow to their absolute fullest</li>
 	<li>This website is a work in progress, as of yet I have only included two profiles. Please be patient.</li>
 </ol>
 {% endblock %}