<!-- child class inheriting from parent with its own quirks-->
{% extends "base.html" %} {% block title %}Musk{% endblock %}
 {% block content %}

<h3>Elon Musk</h3>    
<p>
<a href="https://lh3.googleusercontent.com/noMZIM0kQacB3gYkX8T3VkznoW9Trp418B5Ju04Dypg-wsJhtkJ2tjppVGBdd-4V-fKVMWkemBGiKMnIk3mIkhMvlQ9JIEcapZDsgLZyuqr5vfAHd5M4DZUiNyoX40S6JxCZUldMDA=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/noMZIM0kQacB3gYkX8T3VkznoW9Trp418B5Ju04Dypg-wsJhtkJ2tjppVGBdd-4V-fKVMWkemBGiKMnIk3mIkhMvlQ9JIEcapZDsgLZyuqr5vfAHd5M4DZUiNyoX40S6JxCZUldMDA=w461-h315-p-k" /> </a>
</p>
<p>
Elon musk was raised in Pretoria, South Africa. His mother a model, his father an engineer. At age 10 he became interested in computers and video games and began to write his own code. He was bullied in school and had a rough life at home. He eventually made his way by himself to Canada, from there to America. He started his own internet company with his brother, reinvested the money into a rockey comapany, SpaceX, and an electric car company, Tesla. </p>
<ul>
    <li><a href="https://en.wikipedia.org/wiki/Elon_Musk">Wiki article on Elon Musk</a></li>
    <li><a href="https://time.com/person-of-the-year-2021-elon-musk/">Time Magazine person of the year</a></li>
</ul>


{% endblock %}