<!--child class inheriting from parent with its own quirks-->
{% extends "base.html" %} {% block title %}Yosef{% endblock %}

 {% block content %}

<h3>Ovadiah Yosef</h3>
<p>
    <!-- link to images-->
    <a href="https://lh3.googleusercontent.com/UoGe1zK59l3jdKspY9p9C4BIxPb3sM6zAb7kv4TibNUl7RWdC1T8FBY4TO9Rg6-b8ZicgkdatUf0iB63UBgTB__fpsccKQ8x5dJML1eYzV5VN4ywZMPbgmD5hW-ziE6IUCXrs5_d-g=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/UoGe1zK59l3jdKspY9p9C4BIxPb3sM6zAb7kv4TibNUl7RWdC1T8FBY4TO9Rg6-b8ZicgkdatUf0iB63UBgTB__fpsccKQ8x5dJML1eYzV5VN4ywZMPbgmD5hW-ziE6IUCXrs5_d-g=w245-h315-p-k" /> </a>
</p>
<p>Yosef was born in Baghdad, Iraq in 1920. 1924 he immigrated to Jerusalem. His father operated a grocery store there and was very poor so Ovadiah was forced to work at a young age. In school, his diligence and intelligece became quickly apparent. The principal of the school notices that Ovadiah stopped coming to school for many days. Ovadiahs father was so poor he needed his son to work with him in his store. The principal, who understood Ovadiahs potential, told Ovadiah to go to school and he will work in the store instead. Ovadiah, thorugh his dilligence and passion for study, went on to become one of the greatest Jewish leaders of his generation.</p>
<ul>
    <!-- link to outside webpages-->
    <li><a href="https://en.wikipedia.org/wiki/Ovadia_Yosef#Assassination_plot">Wiki article on Rabbi Ovadiah Yosef</a></li>
    <li><a href="https://www.nytimes.com/2013/10/08/world/middleeast/rabbi-ovadia-yosef-influential-spiritual-leader-in-israel-dies-at-93.html?pagewanted=1&_r=0">NY Times on Rabbi Ovadiah Yosef</a></li>
</ul>
{% endblock %}